[Desktop Entry]
Version=0.4
Name=Wemed MIME Editor
Comment=View and edit complex MIME documents
Exec=wemed %f
Terminal=false
Icon=wemed
Type=Application
Categories=Office;Email;GTK;
MimeType=message/rfc822;application/x-mimearchive;
